@import "tailwindcss";

:root {
  --gradient-main: linear-gradient(102.7deg, rgba(185, 185, 241, .2), rgba(84, 132, 234, .2) 51.56%, rgba(58, 142, 137, .2));

  --text-description-color: #606871;
  --text-section-title-color: #2a2e3a;

  /* color-scheme: light;*/

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--gradient-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
.shadow-window-box {
    --shadow-window-box-1: 0 0 15px 0 rgb(192 132 252 / 0.1);
    --shadow-window-box-2: 0 0 40px -3px rgb(192 132 252 / 0.15);
    --shadow-window-box-3: 0 0 65px -5px rgb(192 132 252 / 0.1);
    --shadow-window-box-4: inset 0 0 1px 1px rgb(255 255 255 / 0.05);
    --shadow-window-box-5: 0 0 #0000;
    --tw-shadow: var(--shadow-window-box-1), var(--shadow-window-box-2), var(--shadow-window-box-3), var(--shadow-window-box-4), var(--shadow-window-box-5);
    --tw-shadow-colored: var(--shadow-window-box-1), var(--shadow-window-box-2), var(--shadow-window-box-3), var(--shadow-window-box-4), var(--shadow-window-box-5);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.6em;
  line-height: 0.8;
}

h3{
  font-size: 1em;
  line-height: 0.8;
}

main{
  margin: 30px;
}
.disabled-input{
  background-color: #d0e4ff;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}  */